.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    width: 100%;
}

.mustHaves {
    list-style: none;
}

.informationPrivacyLink {
    text-decoration: none;
    color: black;
    font-size: small;
}
