.footer {
    display: none;
}

@media (min-width: 600px) {
    .footer {
        margin-top: 5vh;
        margin-bottom: 2vh;
        display: flex;
        width: 100%;
    }

    .mustHaves {
        list-style: none;
        margin: 0;
        display: flex;

        li {
            padding-right: 5px;
        }
    }

    .necessaryLink {
        text-decoration: none;
        color: black;
        font-size: small;
    }
}