.impressum {
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.impressum-container {
    position: relative;
    width: 80%;
    margin: 0 auto;
    box-sizing: border-box;
    text-align: left;
}

@media (min-width: 600px) {
    .impressum-container {
        width: 60%;
        margin: auto;
    }

    .headingInformationPrivacy {
        font-size: 5rem;
    }
}
