@media (min-width: 600px) {
  .App {
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  .app-content {
    display: flex;
    position: relative;
    width: 60%;
    margin: 0 auto;
  }
}
