.slideshow-container {
  display: none;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.frontPagePicture {
  height: 100vh;
  width: 100vw;
}

.frontImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 600px) {
  .frontPagePicture {
    display: none;
  }
  
  .slideshow-container {
    display: flex;
    position: relative;
    width: 60%;
    margin: 0 auto;
  }
}
